:root {
  --primary-color: rgba(75, 75, 75, 1);
  --secondary-color: rgb(128, 128, 128);
}

body {
  padding-top: 57px;
}

h1 {
  color: var(--primary-color);
  font-size: 70px;
  text-align: center;
}

h3 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 550;
  opacity: 0.9;
}
.social i {
  color: var(--primary-color);
  font-size: 60px;
}

li {
  color: var(--primary-color);
  font-size: 14px;
}

p {
  color: var(--primary-color);
  font-size: 14px;
}

strong {
  color: var(--primary-color);
}

.footer {
  color: var(--secondary-color);
  font-size: 10px;
  opacity: 0.9;
}

.footer a {
  color: var(--secondary-color);
  font-size: 10px;
  opacity: 0.9;
}

.grid-overlay {
  position: absolute;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 12px solid white;
  border-right: 12px solid white;
  transition: 0.4s ease-in;
}

.grid-overlay p {
  color: whitesmoke;
  text-align: center;
  padding: 0px;
  margin-top: 15px;
}

.latest-recipes {
  position: relative;
}

.latest-recipes:hover .grid-overlay {
  top: 0;
}

.latest-recipes img {
  position: relative;
}

.map {
  height: 250px;
  width: 100%;
  background-color: blue;
}

@media (max-width: 1200px) {
  .grid-overlay p {
    margin-top: 8px;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 12px;
    padding-left: 20px;
  }

  li {
    font-size: 12px;
  }

  h1 {
    font-size: 50px;
  }
  .grid-overlay p {
    margin-top: 3px;
  }
  .social-desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .social-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .grid-overlay p {
    margin-top: 18px;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 576px) {
  .grid-overlay p {
    margin-top: 17px;
  }
}

@media (max-width: 507px) {
  h1 {
    font-size: 30px;
  }
  .grid-overlay p {
    margin-top: 12px;
  }
}

@media (max-width: 442px) {
  h1 {
    font-size: 25px;
  }
  .grid-overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 20px;
    top: 28%;
  }
  .grid-overlay p {
    margin-top: 4px;
  }
}
